<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="zh-CN">
<head>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<title>Django Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
    <body>
    	<h1>登录</h1>
    	<form action="/login_action/" method="post">
    		<input name="username" type="text"/><br/>
			<input type="password" name="password"/> <br/>
			{{error}}<br/>
			<button id="button" type="submit">登录</button>
			{% csrf_token %}
    	</form>
    </body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</html>